[Unit]
Description=Pocket Lab — cloudflared named tunnel (pocket-lab)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PATH=/home/kenny/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=/home/kenny/.local/bin/cloudflared tunnel --no-autoupdate --protocol http2 --edge-ip-version 4 run --token eyJhIjoiZjdjOGUxN2U0N2IyYmE2MTIyNDg1MGQ3YmI5ODkyN2YiLCJ0IjoiODEzMmVjODQtODcyNC00YmUxLWE1ODgtOWU2MmVhNmMzNTYyIiwicyI6Ik9EYzFPR1JrWTJSaFl6TmxZV1JrWVdJMlpUSTRNalUxTkdNME5XVm1NVE0wWlRsaE1tWTFabVE0WTJZNE5tVXhOakZpTTJSak1tUXhaR016TkdVNVpBPT0ifQ==
Restart=always
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=default.target
